//- =============  BP表单控件，常用于详情（修改、添加）   ======================
- FORM_SPAN = 12 // 默认表单分为12栏布局
- Field_SPAN = FORM_SPAN / 4 // 域宽默认为每行4个

mixin form(collectionName, item)
  //- set collection name 便于在渲染item的时候确定permission，这里如果能够在jade的block里passing就最好了，现在是无奈，只好从Meteor help走
  | {{#with #{item}}}
  - var collection = collectionName
  form.bp-form(parsley-validate, novalidate) 
    block(colletion=collectionName)
    | {{#if bp-collection-permit 'edit'}}
    a(href='#', class='bp-submit') 提交
    | {{/if}}
  | {{/with}} 

//- 重要！！此处实现B+的权限控制和布局
mixin __input(label, attr, span)
  - span = span || Field_SPAN
  - index = index || 0
  - index++

  | {{#if bp-action-is 'edit'}}
  |   {{#if bp-attribute-permit '#{attr}' 'edit'}}
  .controls(data-field-span=span, tabindex=index)
    label #{label}:
    block     

  |   {{else}}
  //- 不可编辑的域只显示值，并且不可tab导航
  .controls(data-field-span=span)
    label #{label}:
    span.content {{bs "#{attr}"}} 
  |   {{/if}}
  | {{/if}}
  
  | {{#if bp-action-is 'create'}}
  .controls(data-field-span=span, tabindex=index)
    label #{label}:
    block     
  | {{/if}}

//- --------------- 布局用控件 ---------------------------------------------
mixin row(span)
  //- 默认为整行布局，划为12栏
  - span = span || FORM_SPAN
  div(data-row-span=span)
    block

//- 这里要实现元素的可自动增加、减少的功能
mixin fieldset(title)
  fieldset 
    legend #{title}
    block

//- --------------- 各种文本域，都是 input type = 'text' --------------------

//- 可以自由添加Parsely validation条件的text
mixin text(label, attr, validations, span)
  +__input(label, attr, span)
    - var valueStr = attr? ("name=" + attr + " value='{{bs \"" + attr + "\"}}'") : '' 
    != "<input type='text' " + valueStr + (validations? validations : '') + " tabindex='-1'/>"
    //- input(type='text', name=value, value!="{{bs '#{value}'}}") 

mixin no-blank-text(label, attr, span)
  +text(label, attr, "parsley-notblank='true' parsley-trigger='change'", span)

mixin min-text(label, attr, min, span)
  +text(label, attr, "parsley-minlength='" + min + "' parsley-trigger='change'", span)

mixin max-text(label, attr, max, span)
  +text(label, attr, "parsley-maxlength='" + max + "' parsley-trigger='change'", span)

mixin ahead(label, attr, candidates, span)
  -console.log("candidates are: ", JSON.stringify(candidates));
  +text(label, attr, span)
  | {{bp-add-typeahead "#{attr}" "#{candidates}"}}

//- ------ 待实现 ------
  range text
  text area
  search
  voice
  ahead ！！注意：非常重要
  regexp text


//- --------------- 各种选择域 ------------------------------------------
//- ------ 待实现 ------
  radio
  dropdown
  checkbox
  on|off button
  grid button
  file



//- --------------- 各种普通专用域，很多都有HMTL5的专用type --------------------

mixin email(attr, required)
  +__input('电子邮件', attr)
    input(type='email', name='email', value!="{{bs '#{attr}'}}",  parsley-trigger="change", required=required, tabindex='-1') 

mixin number(label, attr, required)
  +__input(label, attr)
    input(type='text', name=label,  parsley-type='number', parsley-trigger="change", required=required, tabindex='-1') 

//- ------ 待实现 ------
  password #用Parsley的Equal To
  tel # Parsley的Phone
  url
  min-number
  max-number
  range
  digit
  color
  date date-picker
  datetime
  datetime-local
  month
  time
  week

//- --------------- 各种企业计算专用域，B+平台专属提供 --------------------
  cascade search # 类似http://documentcloud.github.io/visualsearch/#demo
  object search # 类似http://combogrid.justmybit.com/default.php
  talk box
  comment box
  inner search box
  ...





//- mixin all-text(items)
//-   each item in items
//-     +text(item.label, item.value)

