mixin _if-action(action)
  | {{#if bp-action-is '#{action}'}}
  block
  | {{/if}}

mixin _if-collection-permit(action)
  | {{#if bp-collection-permit '#{action}'}}
  block
  | {{/if}}

mixin _if-doc-permit(action)
  | {{#if bp-doc-permit this '#{action}'}}
  block
  | {{/if}}

mixin _if-attribute-permit(attr, action)
  | {{#if bp-attribute-permit this '#{attr}' #{action}}}
  block
  | {{/if}}

mixin _if-else-attribute-permit(attr, action)
  | {{#if bp-attribute-permit this '#{attr}' #{action}}}
  block

mixin _else()
  | {{else}}
  block
  | {{/if}}

//- button和link-button的本质区别在于，link本质是导航，不对数据进行任何操作，button是操作，操作后依据结果导航。
mixin _guarded-permission-and-action-button(action, label)
  +_if-action(action)
    +_guarded-permission-button(action, label)

mixin _guarded-permission-button(action, label)
  +_if-collection-permit(action)
    +_link-button(action) 
      | #{label}

mixin _link-button(action, href, isLink)
  - var href = href || (isLink? ("{{bp-path-for '"+ action +"' this}}") : '#')
  - if(action == 'delete'){var bpDocId ="{{_id}}"} // 列表中出现delete按钮时，需要分清是哪个doc
  a(href=href, class='bp-#{action}', bp-doc-id=bpDocId)
    - if(action == 'next') // next的文字出现在前面，图标在后面，和其它相反
      block
      i.fa.fa-arrow-right.fa-fw
    - else
      case action
        when 'create'   : i.fa.fa-plus.fa-fw 
        when 'update'   : i.fa.fa-pencil.fa-fw 
        when 'delete'   : i.fa.fa-trash-o.fa-fw 
        when 'previous' : i.fa.fa-arrow-left.fa-fw
        defaule: i
      block

mixin _guarded-link(action)
  +_if-collection-permit(action)
    +_link-button(action, null, true)

mixin _previous-link()
  | {{#if bp-pre-link}}
  +_link-button('previous', '{{bp-pre-link}}')
    | 上一条
  | {{/if}}

mixin _next-link()
  | {{#if bp-next-link}}
  +_link-button('next', '{{bp-next-link}}')
    | 下一条
  | {{/if}}

mixin _show-reference(ref)
  //- - var viewName = viewName? viewNane : templateName
  //- - console.log("_show-reference: references: ", references)
  - var referredViewName = bp.getRef(ref)
  - if(references.none(referredViewName)){references.push(referredViewName);}
  i.fa.fa-info.reference(bp-view-name = 'ref-' + referredViewName)

