mixin _if-action(action)
  | {{#if bp-action-is '#{action}'}}
  block
  | {{/if}}

mixin _if-collection-permit(action)
  | {{#if bp-collection-permit '#{action}'}}
  block
  | {{/if}}

mixin _button(action, label)
  +_if-action(action)
    +_if-collection-permit(action)
      a(href='#', class='bp-#{action}') #{label}

mixin _if-attribute-permit(attr, type)
  | {{#if bp-attribute-permit '#{attr}' type}}
  block
  | {{/if}}

mixin _if-else-attribute-permit(attr, type)
  | {{#if bp-attribute-permit '#{attr}' type}}
  block

mixin _else()
  | {{else}}
  block
  | {{/if}}

