//- ==========  以下为表格，常用于列表（删除、（去）添加、（去）修改）   ==========

//- 用于展示的列表
include _bp-conditions-buttons

mixin table(items, columnNames, attributesNames, docName)
  +_guarded-link-button(docName, 'create')
  table
    thead
      tr
        - var colIndex = 0
        each col, i in columnNames
          - colIndex = i
          th(cols=colIndex) #{col}
        th(cols=colIndex+1) 操作
    tbody
      +rows(items, columnNames, attributesNames, docName)

mixin rows(items, columnNames, attributesNames, docName)
  | {{#each #{items}}}
  tr
    - var colIndex = 0
    each attr, i in attributesNames
      - colIndex = i
      +_if-else-attribute-permit(attr, 'look')
        td(cols=colIndex) {{#{attr}}}
      +_else()
        td.cant-look(cols=colIndex)
    td(cols=colIndex+1) 
      +_guarded-link-button(docName, 'update')
      +_guarded-link-button(docName, 'delete')
  | {{/each}}  