include conditions

mixin guarded-button(action, label)
  +if-bp-permit(action)(attributes)
    - attributes.isButton = true
    +_link-button(action, null, true)(attributes) 
      if label
        | #{label}

mixin _link-button(action, _href, isLink, label)
  - tooltip = attributes.label ? attributes.label : null // 将label作为tooltip显示
  - classNames = 'bp-' + action + (tooltip ? ' tooltip ' : ' ' )+ (attributes.classNames ? attributes.classNames : '')
  - classNames = attributes.isButton ? "ui icon tiny button " + classNames : classNames // Semantic UI button
  - if(action == 'delete'){bpDocId ="{{_id}}"} // 列表中出现delete按钮时，需要分清是哪个doc
  if attributes.pageName
    +_page-added-link-button(action)(attributes)
      block
  else
    +_view-default-link-button(action, _href, isLink)(attributes)
      block

mixin _page-added-link-button(action)
  - href = attributes.pageName ? ("{{bp-path-for-page '" + attributes.namespace + "' '" + attributes.pageName + "' '" + attributes.currentDocName + "' this}}") : null
  | {{#if bp-is-page '#{attributes.formPage.namespace}' '#{attributes.formPage.name}'}}
  +__link-button(action)
    block
  | {{/if}}

mixin _view-default-link-button(action, _href, isLink)
  - var path = attributes.face || attributes.path || action
  - var viewName = attributes.viewName || attributes.citedDoc || ''
  - href = _href || (isLink ? ("{{bp-path-for-view '"+ viewName + "' '" + path.camelize(false) + "' this}}") : '#')
  +__link-button(action)
    block

mixin __link-button(action)
  a(href=href, class=classNames, title=tooltip, bp-doc-id=bpDocId)
    - if(action == 'next') // next的文字出现在前面，图标在后面，和其它相反
      block
      i.fa.fa-arrow-right.fa-fw
    - else
      case action
        when 'go'         :   i.fa.fa-reply.fa-fw 
        when 'create'     :   i.fa.fa-plus.fa-fw 
        when 'go-create'  :   i.fa.fa-plus.fa-fw 
        when 'go-update'  :   i.fa.fa-pencil.fa-fw 
        when 'update'     :   i.fa.fa-pencil.fa-fw 
        when 'delete'     :   i.fa.fa-trash-o.fa-fw 
        when 'previous'   :   i.fa.fa-arrow-left.fa-fw
        defaule: i
      block

mixin guarded-link(action)
  //- - console.log("in guarded link, action is: " + action + ", attributes are: ", attributes)
  +if-bp-permit(action)(attributes)
    +_link-button(action, null, true)(attributes)
      block

mixin previous-link()
  | {{#if bp-pre-link}}
  +_link-button('previous', '{{bp-pre-link}}')
    | 上一条
  | {{/if}} 

mixin next-link()
  | {{#if bp-next-link}}
  +_link-button('next', '{{bp-next-link}}')
    | 下一条
  | {{/if}}


mixin add-additional-links(links)
  each link in links
    - var isNegative = link.guard[0] == '!'
    - if(isNegative){link.guard = link.guard.from(1)}
    if isNegative
      | {{#unless #{link.guard}}}
      +_with-or-without-context(link)
        block
      | {{/unless}}
    else
      | {{#if #{link.guard}}}
      +_with-or-without-context(link)
        block
      | {{/if}}

mixin _with-or-without-context(link)
  - attributes = link 
  if link.context
    | {{#with #{link.context}}}
    //- 注意：这里必须用attributes来传递，直接用link，传递会成为{link: true}
    +guarded-link(link.icon)(attributes)
      block
    | {{/with}}
  else
    +guarded-link(link.icon)(attributes)
      block


mixin add-addtional-multiple-links(links)
  - var showAttr = attributes.showAttr
  each link in links
    - showAttr = attributes.showAttr
    - attributes = link 
    //- - console.log("*************** link: ", link)
    - var dataName = link.citedDoc.pluralize()
    | {{#if #{link.guard}}}
    span.tooltip(onclick="$(event.currentTarget).parent().find('.ui.dimmer').dimmer('toggle');", title='更新#{link.showName}') 
      i.bp-relation-links.unordered.list.icon
    .ui.dimmer 
      .content
        .center
          | {{#each #{dataName}}}
          +guarded-link(link.icon)(attributes)
            if showAttr
              | {{bs '#{showAttr}'}}
          | {{/each}}
    | {{/if}}




