mixin _if-action(action)
  | {{#if bp-action-is '#{action}'}}
  block
  | {{/if}}

mixin _if-bp-permit(action, citedDoc)
  //- bp-can: go-create | go-update | create | update | delete
  - var citedDocStr = citedDoc ? ("'" + citedDoc + "'") : ''
  | {{#if bp-permit this '#{action}' #{citedDocStr}}}
  block
  | {{/if}}


mixin _if-bp-attribute-permit(attr, action)
  - var citedDoc = attributes.citedDoc ? attributes.citedDoc : ''
  | {{#if bp-attribute-permit this '#{attr}' '#{action}' '#{citedDoc}'}}
  block
  | {{/if}}

mixin _if-else-attribute-permit(attr, action)
  | {{#if bp-attribute-permit this '#{attr}' '#{action}'}}
  block

mixin _else()
  | {{else}}
  block
  | {{/if}}

mixin _mark-current-doc-id()
  .current-doc-id(bp-doc-id='{{_id}}')
    block

//- button和link-button的本质区别在于，link本质是导航，不对数据进行任何操作，button是操作，操作后依据结果导航。
mixin _guarded-permission-and-action-button(action, label)
  +_if-action(action)
    +_guarded-permission-button(action, label)(attributes)

mixin _guarded-permission-button(action, label)
  +_if-bp-permit(action)
    +_link-button(action, null, true)(attributes) 
      if label
        | #{label}

mixin _link-button(action, href, isLink, label)
  - var path = attributes.path ? attributes.path : action
  - var href = href || (isLink ? ("{{bp-path-for '"+ path.camelize(false) +"' this}}") : '#')
  - var tooltip = attributes.label ? attributes.label : ''
  - var classNames = 'bp-' + action + ' ' + (attributes.classNames ? attributes.classNames : '')
  - classNames = attributes.isButton ? "ui icon tiny button " + classNames : classNames
  - if(action == 'delete'){var bpDocId ="{{_id}}"} // 列表中出现delete按钮时，需要分清是哪个doc
  a(href=href, class=classNames, title=tooltip, bp-doc-id=bpDocId)
    - if(action == 'next') // next的文字出现在前面，图标在后面，和其它相反
      block
      i.fa.fa-arrow-right.fa-fw
    - else
      case action
        when 'go'         :   i.fa.fa-reply.fa-fw 
        when 'create'     :   i.fa.fa-plus.fa-fw 
        when 'go-create'  :   i.fa.fa-plus.fa-fw 
        when 'go-update'  :   i.fa.fa-pencil.fa-fw 
        when 'delete'     :   i.fa.fa-trash-o.fa-fw 
        when 'previous'   :   i.fa.fa-arrow-left.fa-fw
        defaule: i
      block

mixin _guarded-link(action)
  +_if-bp-permit(action, attributes.citedDoc, attributes.citedViewType)
    +_link-button(action, null, true)(attributes)

mixin _previous-link()
  | {{#if bp-pre-link}}
  +_link-button('previous', '{{bp-pre-link}}')
    | 上一条
  | {{/if}} 

mixin _next-link()
  | {{#if bp-next-link}}
  +_link-button('next', '{{bp-next-link}}')
    | 下一条
  | {{/if}}

mixin _show-reference(ref, query)
  - var referredViewName = bp.getRefName(ref)
  - if(references.none(referredViewName)){references.push({referredViewName: 'homework', query: query});} // 一个reference可在多个域标注
  i.fa.fa-info.reference(bp-view-name = 'ref-' + referredViewName)

mixin add-addtional-links(links)
  - topView.additionalLinks = topView.additionalLinks ? topView.additionalLinks : []
  each link in links
    - topView.additionalLinks.push(link)
    - var isNegative = link.guard[0] == '!'
    - if(isNegative){link.guard = link.guard.from(1)}
    - console.log("isNegative: ", isNegative, link.guard, link.context)
    if isNegative
      | {{#unless #{link.guard}}}
      +_with-or-without-context(link)
      | {{/unless}}
    else
      | {{#if #{link.guard}}}
      +_with-or-without-context(link)
      | {{/if}}

mixin _with-or-without-context(link)
  - var citedDoc = link.to.split('.')[0]
  - var citedViewType = link.to.split('.')[1]
  if link.context
    | {{#with #{link.context}}}
    +_guarded-link(link.icon)(path=link.path, label=link.label, citedDoc=citedDoc, citedViewType=citedViewType)
    | {{/with}}
  else
    +_guarded-link(link.icon)(path=link.path, label=link.label, citedDoc=citedDoc, citedViewType=citedViewType)



