include _form

//- --------------- 各种文本域，都是 input type = 'text' --------------------

//- 可以自由添加Parsely validation条件的text
mixin text(label, attr, condition, required, span)
  //- - required = true // for testing!!!!
  +__guarded-input-wrapper(label, attr, span)(attributes)
    - var valueStr = attr? ("name='" + attr + "' value='{{bs \"" + attr + "\"}}' ") : '' 
    - var validationStr = condition? (P.trigger('change') + condition) : ''
    - var validationStr = required? (validationStr + " required=required") : validationStr
    != "<input type='text' " + valueStr + validationStr + " tabindex='" + index +"'/>"
    //- input(type='text', name=value, value!="{{bs '#{value}'}}") 

mixin no-blank-text(label, attr, condition, required, span)
  +text(label, attr, P.notblank(), required, span)(attributes)

mixin min-text(label, attr, min, required, span)
  +text(label, attr, P.minlength(min), required, span)(attributes)

mixin max-text(label, attr, max, required, span)
  +text(label, attr, P.maxlength(max), required, span)(attributes)

mixin ahead(label, attr, candidates, required, span)
  //- // console.log("candidates are: ", JSON.stringify(candidates));
  +text(label, attr, null, required, span)(attributes)
  | {{#{currentViewName}-bp-add-typeahead "#{attr}" "#{candidates}"}}

//- ------ 待实现 ------
  range text
  text area
  search
  voice
  regexp text


//- --------------- 各种选择域 ------------------------------------------
//- ------ 待实现 ------
  radio
  dropdown
  checkbox
  on|off button
  grid button
  file



//- --------------- 各种普通专用域，很多都有HMTL5的专用type --------------------
//- TODO: 重构，和text合并
mixin __control(type, label, attr, condition, required)
  //- +__guarded-input-wrapper(label, attr)
    //- input(type='text', name=attr,  parsley-type=type, value!="{{bs '#{attr}'}}", parsley-trigger="change", required=required, tabindex=index) 
    //- 这里的type目前都用的是text，因为parsley中，有时候其它类型会触发不了校验。
    //- 所以，现在这里直接用text
  - var condition = P.type(type) + ' ' + (condition? condition : '')
  +text(label, attr, condition, required)(attributes)

mixin email(label, attr, condition, required)
  +__control('email', label, attr, condition, required)(attributes)

mixin number(label, attr, condition, required)
  +__control('number', label, attr, condition, required)(attributes)

//- ------ 待实现 ------
  password #用Parsley的Equal To
  tel # Parsley的Phone
  url
  min-number
  max-number
  range
  digit
  color
  date date-picker
  datetime
  datetime-local
  month
  time
  week

//- --------------- 各种企业计算专用域，B+平台专属提供 --------------------
  cascade search # 类似http://documentcloud.github.io/visualsearch/#demo
  object search # 类似http://combogrid.justmybit.com/default.php
  talk box
  comment box
  inner search box
  ...





//- mixin all-text(items)
//-   each item in items
//-     +text(item.label, item.value)

