include _constants-and-utils
include _conditions-and-buttons

//- =============  BP表单控件，常用于详情（修改、添加）   ======================

mixin form(item)
  //- +_if-doc-permit('view update create')
  - mainLinks = [], navLinks = []
  | {{#with #{item}}}
  form.bp-form(parsley-validate, novalidate) 
    block

    .buttons
      +_guarded-permission-and-action-button('update', '提交')(isButton=true, classNames='positive')
      +_guarded-permission-and-action-button('create', '提交')(isButton=true, classNames='positive')
      +_if-action('update')
        +_guarded-permission-button('delete', '删除')(isButton=true, classNames='negative')
      +add-addtional-links(mainLinks)
    
    .pre-next
      +_previous-link()
      +_next-link()
      +add-addtional-links(navLinks)
  | {{/with}}  


//- --------------- 布局用控件 ---------------------------------------------
mixin row(span)
  //- 默认为整行布局，划为12栏
  - var span = span || FORM_SPAN
  div(data-row-span=span)
    block

//- TODO: 这里要实现元素的可自动增加、减少的功能
mixin fieldset(title)
  fieldset 
    legend #{title}
    block

//- --------------- 添加links ---------------------------------------------

mixin add-main-link(link)
  - mainLinks.push(link)


mixin add-nav-link(link)
  - navLinks.push(link)

