
mixin template(docName, templateName, templateType)
  - console.log("************* 1 ***********")
  - currentViewName = templateName // 用于在生成_link-button时，标明所在view
  - var topView = bp.getView(docName, currentViewName, templateName, templateType); 
  - if(attributes.query && templateType == 'list'){topView.query = attributes.query} //doc: 只有列表才需要query，详情都是针对一个，不用query. 这里的筛选用于用户体验，业务逻辑的删选在工作流程定义、用户权限定义里，并通过Meteor Method来实施。
  - references = [];
  - console.log("************* 2 ***********: ")
  //- 切换bpc的helper，保障同一个template，多个view的情况下渲染正确
  //- | {{bp-load-view '#{currentViewName}'}} !!!! 注意 ！！！ 顶层template在Router的before里面load-bpc，写在这里无用，在<template>标签外了，Meteor是不会执行的。
  template(name=templateName)
    block
    each ref in references
      +_reference(topView, ref)
    - console.log("************* 3 ***********")




mixin _reference(topView, ref)
  - console.log("call reference, ref: ", ref)
  - currentViewName = 'ref-' + ref.referredViewName
  - topView.addReferredView(currentViewName, ref)
  //- | {{bp-load-view '#{currentViewName}'}}
  .reference(bp-view-name=currentViewName)
    | {{> #{ref.referredViewName}}}

mixin main-nav(templateNames)
  - bp.setMainNav(templateNames)
  - bp.saveView()
