//-#  条件wrappers。帮助BP插入权限控制helpers， 参考：[adpater.ls](../ls/adapter.html), [permission.ls](../ls/permission.html)

//-# 控制仅在某个face中显示
mixin if-face(face)
  | {{#if bp-face-is '#{face}'}}
  block
  | {{/if}}

//-# 是否允许当前用户对数据（默认为当前，除非给出citedDoc），进行某种操作（go-create, go-update, create, update, view; 以及其它用户通过add-links增加的action）
mixin if-bp-permit(action)
  - var citedDocStr = attributes.citedDoc ? "'" + attributes.citedDoc + "'" : ''
  - console.log("in if-bp-permit, action is: ", action)
  | {{#if bp-permit this '#{action}' #{citedDocStr}}}
  block
  | {{/if}}

//-# 是否允许当前用户对当前（默认为当前，除非给出citedDoc）的某个属性（attr），进行某种操作
mixin if-bp-attribute-permit(attr, action)
  - var citedDoc = attributes.citedDoc ? attributes.citedDoc : ''
  | {{#if bp-attribute-permit this '#{attr}' '#{action}' '#{citedDoc}'}}
  block
  | {{/if}}


mixin if-else-attribute-permit(attr, action)
  | {{#if bp-attribute-permit this '#{attr}' '#{action}'}}
  block
    
//- 和上面的if-else-attribute-permit配合一同使用
mixin else()
  | {{else}}
  block
  | {{/if}}

mixin mark-current-doc-id()
  .current-doc-id(bp-doc-id='{{_id}}')
    block

mixin guarded-button(action, label)
  +if-bp-permit(action)(attributes)
    - attributes.isButton = true
    +_link-button(action, null, true)(attributes) 
      if label
        | #{label}

mixin _link-button(action, href, isLink, label)
  - var path = attributes.path || action
  - var href = href || (isLink ? ("{{bp-path-for '"+ path.camelize(false) +"' this}}") : '#')
  - var tooltip = attributes.label ? attributes.label : null // 将label作为tooltip显示
  - var classNames = 'bp-' + action + (tooltip ? ' tooltip ' : ' ' )+ (attributes.classNames ? attributes.classNames : '')
  - classNames = attributes.isButton ? "ui icon tiny button " + classNames : classNames // Semantic UI button
  - if(action == 'delete'){var bpDocId ="{{_id}}"} // 列表中出现delete按钮时，需要分清是哪个doc
  a(href=href, class=classNames, title=tooltip, bp-doc-id=bpDocId)
    - if(action == 'next') // next的文字出现在前面，图标在后面，和其它相反
      block
      i.fa.fa-arrow-right.fa-fw
    - else
      case action
        when 'go'         :   i.fa.fa-reply.fa-fw 
        when 'create'     :   i.fa.fa-plus.fa-fw 
        when 'go-create'  :   i.fa.fa-plus.fa-fw 
        when 'go-update'  :   i.fa.fa-pencil.fa-fw 
        when 'delete'     :   i.fa.fa-trash-o.fa-fw 
        when 'previous'   :   i.fa.fa-arrow-left.fa-fw
        defaule: i
      block

mixin guarded-link(action)
  - console.log("in guarded link, action is: " + action + ", attributes are: ", attributes)
  +if-bp-permit(action)(attributes)
    +_link-button(action, null, true)(attributes)

mixin previous-link()
  | {{#if bp-pre-link}}
  +_link-button('previous', '{{bp-pre-link}}')
    | 上一条
  | {{/if}} 

mixin next-link()
  | {{#if bp-next-link}}
  +_link-button('next', '{{bp-next-link}}')
    | 下一条
  | {{/if}}

//- mixin show-reference(ref, query)
//-   - var referredViewName = bp.getRefName(ref)
//-   - if(references.none(referredViewName)){references.push({referredViewName: 'homework', query: query});} // 一个reference可在多个域标注
//-   i.fa.fa-info.reference(bp-view-name = 'ref-' + referredViewName)

//- TODO：用relation声明数据关系后，进一步改善。
mixin add-addtional-links(links)
  - view.additionalLinks = view.additionalLinks || []
  each link in links
    - view.additionalLinks.push(link)
    - var isNegative = link.guard[0] == '!'
    - if(isNegative){link.guard = link.guard.from(1)}
    if isNegative
      | {{#unless #{link.guard}}}
      +_with-or-without-context(link)
      | {{/unless}}
    else
      | {{#if #{link.guard}}}
      +_with-or-without-context(link)
      | {{/if}}



mixin _with-or-without-context(link)
  - attributes = link 
  if link.context
    | {{#with #{link.context}}}
    //- 注意：这里必须用attributes来传递，直接用link，传递会成为{link: true}
    +guarded-link(link.icon)(attributes)
    | {{/with}}
  else
    +guarded-link(link.icon)(attributes)


mixin add-addtional-multiple-links(links)
  - view.additionalLinks = view.additionalLinks || []
  each link in links
    - attributes = link 
    - view.additionalLinks.push(link)
    - var dataName = link.citedDoc.pluralize()
    | {{#if #{link.guard}}}
    span.content.tooltip(onclick="$(event.currentTarget).parent().find('.ui.dimmer').dimmer('toggle');", title='更新#{link.showName}') 
      i.bp-relation-links.unordered.list.icon
    .ui.dimmer 
      .content
        .center
          | {{#each #{dataName}}}
          +guarded-link(link.icon)(attributes)
          | {{/each}}
    | {{/if}}




