include constants-and-utils
include conditions-and-buttons

//-# BP表格，用于list视图
mixin table(items, columnNames, attributesNames)
  - var attributesNames = attributesNames ? attributesNames : columnNames
  - rowLinks = [], tableLinks = [], removedLinks = []
  block
  //- 用户自定义的links
  +add-addtional-links(tableLinks)
  //- 可配置，可动态移除go-create按钮
  if removedLinks.indexOf('go-create') < 0 
    //- 只有list时，才有go-create按钮，view时没有
    +if-face('list')
      +guarded-link('go-create')
  table.ui.table.segment
    thead
      +_head-row(columnNames)
    tbody
      +_rows(items, attributesNames)

mixin _rows(items, attributesNames)
  | {{#each #{items}}}
  +_row(attributesNames)
  | {{/each}}  


mixin _head-row(columnNames)
  tr
    +_each-cell(columnNames)
      - cellName = bp.getAttrName(cellName)
      th(cols=colIndex) #{cellName}
    //- 只有list时，才有操作栏，view时没有
    +if-face('list')
      th(cols=colIndex+1) 操作

mixin _row(attributesNames)
  tr
    +_each-cell(attributesNames)
      +_guarded-cell(cellName)
    //- 只有list时，才有操作栏，view时没有
    +if-face('list')
      +_guarded-operation-cell

mixin _each-cell(cellNames)
  - colIndex = 0
  - cellName = ''
  each cn, i in cellNames
    - colIndex = i
    - cellName = cn
    block

mixin _guarded-cell(attr)
  - var citedClass = (attr.indexOf('.') > 0) ? 'cited' : null
  td(cols=colIndex, class=citedClass) 
    != bp.value(attr)

mixin _guarded-operation-cell()
  td(cols=colIndex+1) 
    //- 将对应行的doc id记录下来，以便操作进行时，能够找回该doc
    +mark-current-doc-id()
      +guarded-link('go-update')
      +guarded-link('delete')
      +add-addtional-links(rowLinks)

//-# --------------- 添加links -------------

mixin add-item-link(link)
  - rowLinks.push(link)

mixin add-list-link(link)
  - tableLinks.push(link)

mixin remove-link(linkName)
  - removedLinks.push(linkName)
  - removedLinks = removedLinks.unique() 