include commons

//-# 各种选择域 
mixin ahead(label, attr)
  //- // console.log("candidates are: ", JSON.stringify(candidates));
  - var attr = attr ? attr : label 
  +text(label, attr)(attributes) 
  | {{bp-add-typeahead "#{attr}" "#{attributes.candidates}"}}

mixin multi-ahead(label, attr)
  - var attr = attr ? attr : label 
  - var configStr = ''
  //- - var multiple = attributes.multiple ? "multiple='multiple'" : ''
  +guarded-input-wrapper(label, attr)(attributes)
    if attributes.sourceAttr
      - var sourceDocName = attributes.sourceDocName || '@' // this, 当前doc
      - var query = attributes.query || '{}'
      - var valueAttrStr = attributes.valueAttr ? "'" + attributes.valueAttr + "'" : null // valueAttr 为 sourcAttr的属性，null表示以整个sourceAttr为值
      - var optionAttrStr = attributes.optionAttr ? "'" + attributes.optionAttr + "'" : null  // optionAttr 为显示在选项上的值的来源，应当是sourceAttr的属性，缺省同valueAttr
      - configStr = "{source: '"+ sourceDocName + "', attr: '" + attributes.sourceAttr + "', option: " + optionAttrStr + ", value: " + valueAttrStr + ", query: " + query + ", multiple: " + attributes.multiple + "}"
      //- - configStr = '"{source: "'+ sourceDocName + '", attr: "' + attributes.sourceAttrStr + '", option: ' + optionAttr + ', value: ' + valueAttrStr + ', query: "' + query + '"}"'
      input.select2-hidden(name=attr, type='hidden', style='width: 100%; border: 0px', dropdownCssClass='', tabindex=index)
    else 
      select(name=attr, multiple=attributes.multiple, style='width: 100%; border: 0px', dropdownCssClass='', tabindex=index)
        each candidate in attributes.candidates
          option(value=candidate) #{candidate}
    | {{bp-add-multi-ahead "#{attr}" this "#{configStr}"}}

//- mixin multi-ahead-dynamic(label, attr)

//- ------ 待实现 ------
  radio
  dropdown
  checkbox
  on|off button
  grid button
  select
  file

