include commons
include selects

//-# 不可编辑域
//-# 用以呈现relation数据的属性。可以呈现为带有link的值
mixin ref-text(label, attr)
  - var attr = attr ? attr : label
  - var span = attributes.span || Field_SPAN
  +wrap-filed-with-label(label, span)
    if attributes.isLink
      | {{#with #{attributes.citedDoc}}}
      +configured-guarded-link('go-update')(attributes)
        | {{bs '#{attr}'}}
      | {{/with}}
    else
      span.content
        != bp.value(attr)

mixin ref-list(label, attr)
  - var attr = attr ? attr : label
  - var span = attributes.span || Field_SPAN
  +wrap-filed-with-label(label, span)
    - var citedDocName = attr.split('.')[0]
    | {{#with #{attributes.citedDoc}}}
    if attributes.isOrdered 
      ol
        +_ref-list-items(attr)
    else
      ul
        +_ref-list-items(attr)
    | {{/with}}


mixin _ref-list-items(attr)
  | {{#each #{attr}}}
  li {{this}}
  | {{/each}}

//-# 在表单中，自动插入属性。用法示例： +auto-insert('老师', A.currentUserId())
mixin auto-insert(attr, valueExpression)
  | {{bp-auto-insert '#{attr}' "#{valueExpression}"}} 


mixin auto-insert-current-user-as(role)
  +auto-insert(role, A.currentUserId())

mixin default-current-user(label, attr)
  - attributes.disabled = true
  - attributes.multiple = false
  +multi-ahead(label, attr)(attributes)

mixin users-selector(label)
  +multi-ahead(label)(users={role:attributes.role}, multiple=attributes.multiple)

//- ------ 待实现 ------
  用Semantic UI
  image
  step
  message