include _form

mixin ref(label, attr)
  - var attr = attr ? attr : label
  +__guarded-input-wrapper(label, attr)(attributes)

//- --------------- 各种文本域，都是 input type = 'text' --------------------

//- 可以自由添加Parsely validation条件的text attributes: condition, required, span, ref, query
- var _addCondition = function(attr, newCon){attr.condition = attr.condition ? attr.condition + ' ' + newCon : newCon}
- var addCondition = function(attr, newCon){if(!attr.condition || attr.condition.indexOf(newCon) < 0){_addCondition(attr, newCon)}}

//- 调试用
//- - var _addCondition = function(attr, newCon){attr.condition = attr.condition ? attr.condition + ' ' + newCon : newCon; console.log("condition: ", attr.condition); return attr;}
//- - var addCondition = function(attr, newCon){if(!attr.condition || attr.condition.indexOf(newCon) < 0){return _addCondition(attr, newCon)}}


mixin _text(label, attr, htmlTag)
  - var attr = attr ? attr : label
  +__guarded-input-wrapper(label, attr)(attributes)
    - addCondition(attributes, P.trigger('change'))
    - var validationStr = attributes.optional ?  attributes.condition : (attributes.condition + " required='required'")
    - var placeholderStr = attributes.placeholder ? " placeholder='" + attributes.placeholder + "' " : ''
    if htmlTag == 'input'
      - var valueStr = attr? ("name='" + attr + "' value='{{bs \"" + attr + "\"}}' ") : '' 
      != "<input type='text' " + valueStr + validationStr + placeholderStr + " tabindex='" + index +"'/>"
    else // 包括了普通textarea和html editor
      - var nameStr =  attr? ("name='" + attr + "'") : '' 
      - var valueStr = attr? ("{{bs '" + attr + "'}}") : '' 
      if attributes.isHtml
        != "<textarea id='" + attributes.id + "' type='text' " + nameStr + placeholderStr + " tabindex='" + index + "'>" + valueStr + "</textarea>"
      else
        != "<textarea type='text' " + nameStr + validationStr + placeholderStr + " tabindex='" + index + "'>" + valueStr + "</textarea>"
    //- input(type='text', name=value, value!="{{bs '#{value}'}}") 

mixin text(label, attr)
 +_text(label, attr, 'input')(attributes)

//- text area
mixin block-text(label, attr)
 +_text(label, attr, 'textarea')(attributes)


mixin no-blank-text(label, attr)
  - addCondition(attributes, P.notblank())
  +text(label, attr)(attributes)

mixin min-text(label, attr)
  - addCondition(attributes, P.minlength(attributes.min))
  +text(label, attr)(attributes)

mixin max-text(label, attr)
  - addCondition(attributes, P.maxlength(attributes.max))
  +text(label, attr)(attributes)

mixin ahead(label, attr)
  //- // console.log("candidates are: ", JSON.stringify(candidates));
  - var attr = attr ? attr : label 
  +text(label, attr)(attributes) 
  | {{bp-add-typeahead "#{attr}" "#{attributes.candidates}"}}

mixin multi-ahead(label, attr)
  - var attr = attr ? attr : label 
  +__guarded-input-wrapper(label, attr)(attributes)
    select(name=attr, multiple='multiple', style='width: 100%; border: 0px', tabindex=index)
      each candidate in attributes.candidates
        option(value=candidate) #{candidate}
    | {{bp-add-multi-ahead "#{attr}" "#{attributes.config}"}}

//- 这个是纯文字版的，便于手工输入
mixin datetime(label, attr)
  - addCondition(attributes, P.dateIso())
  +text(label, attr)(attributes)

//- ------ 待实现 ------
  range text
  search
  voice
  regexp text


//- --------------- 各种选择域 ------------------------------------------
//- ------ 待实现 ------
  radio
  dropdown
  checkbox
  on|off button
  grid button
  select
  file



//- --------------- 各种普通专用域，很多都有HMTL5的专用type --------------------
//- TODO: 重构，和text合并
mixin __control(type, label, attr)
  //- +__guarded-input-wrapper(label, attr)
    //- input(type='text', name=attr,  parsley-type=type, value!="{{bs '#{attr}'}}", parsley-trigger="change", required=required, tabindex=index) 
    //- 这里的type目前都用的是text，因为parsley中，有时候其它类型会触发不了校验。
    //- 所以，现在这里直接用text
  - addCondition(attributes, P.type(type))
  - var label = label ? label : type // control类型可以不给label、attr，默认都为其type
  +text(label, attr)(attributes)

mixin email(label, attr)
  +__control('email', label, attr)(attributes)

mixin number(label, attr)
  +__control('number', label, attr)(attributes)


//- ------ 待实现 ------
  password #用Parsley的Equal To
  tel # Parsley的Phone
  url
  min-number
  max-number
  range
  digit
  color
  date date-picker
  datetime
  datetime-local
  month
  time
  week

//- --------------- 各种企业计算专用域，B+平台专属提供 --------------------
  cascade search # 类似http://documentcloud.github.io/visualsearch/#demo
  object search # 类似http://combogrid.justmybit.com/default.php
  talk box
  comment box
  inner search box
  ...





//- mixin all-text(items)
//-   each item in items
//-     +text(item.label, item.value)

