include ../bp/jade-templates/bp-mixins


+page('aw', 'assignments-list')(isMainNav=true)
  +view('assignment', 'list', 'list')
    +add-view-item-link('批改作业', 'aw', 'assignment-homework')

+page('aw', 'assignment-homework')
  +view('assignment', 'detail', 'update')
  +view('homework', 'list', 'list')(query='{assignmentId: assignment._id}')


//-# type: aggregate | composite, aggregate时，二者独立，各自可独立创建，各自删除。composite时，导航终点doc不能直接从其列表上创建，而是通过起点doc的列表中的link来创建。删除起点doc，关联的终点doc将被一并删除。
//-# casecade: TODO: 待添加 
//- +relation('assignment', '1 -> *', 'homework')(type='composition')
+relation({docName: 'assignment', showName: '作业要求', showAttr: '题目'}, '1 -> *', {docName: 'homework', showName: '作业', showAttr: '学生'})(type='composition')

+component('assignment')
  +list(['题目', '要求', '截止时间', '老师'])

  +detail()
    +fieldset('作业要求')
      +row()
        +no-blank-text('题目')(span=HALF_ROW, title='世上无难事，只要肯攀登')
        +datetime('截止时间')
        +multi-ahead('学生')(candidates=['沈少伟', '陈伟津', '陈杰文', '林臻南', '曾灏'], multiple=true)
        //- +multi-ahead('学生')(candidates={doc: 'users', query: "{profile.role: '学生'}", attrAsOption: "name"})
      +row()
        +html('要求')(span=FULL_ROW)
    +auto-insert('老师', A.currentUserName())

+component('homework')(cited=cited)
  +list(['assignment.题目', 'assignment.要求', 'assignment.截止时间', '内容', '学生'])

  +detail()
    +fieldset('作业要求')
      +row()
        +ref-text('assignment.题目')
        +ref-text('assignment.截止时间')
        +multi-ahead('测试')(sourceDocName='assignment', sourceAttr='学生', multiple=true)
      +row()
        +ref-text('assignment.要求')(span=HALF_ROW)
    +fieldset('作业内容')
      +html('内容')(span=FULL_ROW, placeholder='在这里开始作业吧~')

    +auto-insert('学生', A.currentUserName())


