include ../bp/jade-templates/bp-mixins
//- ********************************** B+ Component的简洁声明方式 ********************************** 
//- +component('assignment')
//-   +list(['题目', '要求', '截止时间']) 

//-   +detail()
//-     +fieldset('题目基本要求')
//-       +row()
//-         //- 所有text控件的接口都是<xxx-text>(label, attr, condition, required, span)，后面的值可缺省
//-         +text('题目')
//-         +no-blank-text('要求')(span=HALF_ROW)
//-         +min-text('中文内容')(min=6)
//-       +row()
//-         //- +text('截止时间', 'deadline')(ref='detail', query='{"题目": /工作流/}')
//-         +text('截止时间')
//-         +text('发布时间')
//-         //- 专用控件的接口都是<xxx-text>(label, attr, condition, required)，后面的值可缺省
//-         +number('截止时间')(optional=true)
//-         +email('电子邮件', 'email') 
//-       +row()
//-         +ahead('自动填充')(candidates=['2012-03-01', '2013-01-01', '日本']) 
+component('assignment')
  //- +list(['题目', '要求', '截止时间'])(className='Assignments-list')
  +list(['题目', '要求', '截止时间'])
    //- +add-row-link({label: '写作业', path: 'create-homework', appearance: 'homework.detail.create', guard: "true", icon: 'go-create'})
    //- +add-row-link({label: '写作业', path: 'update-homework', appearance: 'homework.detail.update', guard: "assignment.homework", icon: 'go-update'})
  
  +detail()
    +fieldset('作业要求')
      +row()
        +no-blank-text('题目')
        +datetime('截止时间')
        - var candidates = ['沈少伟', '陈伟津', '陈杰文', '林臻南', '王伟哲', '谷阳波', '曾灏', '卢焯权']   
        +ahead('学生')(span=HALF_ROW, candidates=candidates)
        //- +select('学生')(multiple=true, span=HALF_ROW, candidates=candidates)
      +row()
        +block-text('要求')(optional=true, span=FULL_ROW, placeholder='作业详细要求')
        //- +html-text('要求')(optional=true, span=FULL_ROW, placeholder='作业详细要求')

    +auto-insert('老师', 'Meteor.user().profile.fullname')

//- -var cited = {assignment: ['题目', '要求', '截止时间']}
//- +component('homework')(cited=cited)
//-   +list(['题目', '截止时间', '内容', '学生'])

//-   +detail()(className='Homework-detail')
//-     +fieldset('作业要求')
//-       +row()
//-         +ref('题目')(span=HALF_ROW)
//-         +ref('截止时间')(span=HALF_ROW)
//-       +row()
//-         +ref('要求')(span=HALF_ROW)
//-     //- +fieldset('作业内容')
    //-   +row()
    //-     +html('内容')(span=FULL_ROW)

