include ../bp/jade-templates/bp-mixins

-var cited = {homework: {query:'{assignmentId: doc._id}'}}
+component('assignment')(cited=cited)
  +list(['题目', '要求', '截止时间'])
    //- to: doc-name.view-type.face-name
    +add-item-link({label: '开始写作业', path: 'create-homework', to: 'homework.detail.create', guard: "!homework._id", icon: 'go-create'})
    +add-item-link({label: '更新作业', path: 'update-homework', to: 'homework.detail.update', context: 'homework', guard: "homework._id", icon: 'go-update'})
  //- +list(['题目', '要求', '截止时间'])
  
+detail()
    +fieldset('作业要求')
      +row()
        +no-blank-text('题目')
        +datetime('截止时间')
        - var candidates = ['沈少伟', '陈伟津', '陈杰文', '林臻南', '王伟哲', '谷阳波', '曾灏', '卢焯权']   
        +ahead('学生')(span=HALF_ROW, candidates=candidates)
        //- +select('学生')(multiple=true, span=HALF_ROW, candidates=candidates)
      +row()
        +block-text('要求')(optional=true, span=FULL_ROW, placeholder='作业详细要求')

    +auto-insert('老师', A.currentUserName())

-var cited = {assignment: {query:'{_id: doc.assignmentId}', attributes:['题目', '要求', '截止时间']}}
+component('homework')(cited=cited)
  +list(['题目', '截止时间', '内容', '学生'])
    +remove-link('go-create')
    +add-list-link({label: '看作业要求列表', path: 'go-assignments-list', to: 'assignment.list.list', guard: true, icon: 'go'})

  +detail()(className='Homework-detail')
    +fieldset('作业要求')
      +row()
        +ref('题目')(span=HALF_ROW)
        +ref('截止时间')(span=HALF_ROW)
      +row()
        +ref('要求')(span=HALF_ROW)
    +fieldset('作业内容')
      +row()
        +html('内容')(span=FULL_ROW, placeholder='在这里开始作业吧~')

    +auto-insert('assignment-id', A.docId('assignment'))


